MySBCICD_Demo_App/MySBCICD_Demo_Prj/BusinessService/XMLSchema_-1539479661.xsd

<?xml version='1.0' encoding='UTF-8'?><schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/MySoaCICD_Demo_App/MySoaCICD_Demo_Prj/MySoaCICD_Demo_BPELProcess">
   <element name="process">
      <complexType>
         <sequence>
            <element name="input" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="result" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>